.carousel-item img {
    height: 600px; /* Set the desired height */
    object-fit: cover; /* Ensure the image covers the entire container */
}

/*for second section */
/* Reset CSS */
.second-section {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	display: inline-block;
}

/* Main CSS */
.grid-wrapper > div {
	display: flex;
	justify-content: center;
	align-items: center;
}
.grid-wrapper > div > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
}

.grid-wrapper {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-rows: 200px;
	grid-auto-flow: dense;
}
.grid-wrapper .wide {
	grid-column: span 2;
}
.grid-wrapper .tall {
	grid-row: span 2;
}
.grid-wrapper .big {
	grid-column: span 2;
	grid-row: span 2;
}
/*for second section */

/* footer */

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-section {
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
}

.footer-section h2 {
    color: #fff; /* Change the color as needed */
}

.footer-bottom {
    text-align: center;
    padding-top: 10px;
}

/* Add any additional styling for links, social media icons, etc. */

@media screen and (max-width: 768px) {
    .footer-section {
        width: 100%;
        margin-bottom: 20px;
    }
}
.contact-form {
    display: inline-block;
}

.contact-form input {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 10px 1px 1px 10px;

}

.contact-form button {
    border-radius: 1px 10px 10px 1px;
    background-color: black;
    color: #fff;
    padding: 8px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}
/* footer */

/* home product */
.product-cards {
    padding: 50px 0;
}

.card {
    background-color: #333;
    color: #fff;
    transition: transform 0.3s;
    height: 100%;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    max-height: 200px;
    object-fit: cover;
}

.btn-cart,
.btn-buy {
    width: 100%;
}

.btn-primary {
    background-color: #ff5500;
    border: none;
}

.btn-primary:hover {
    background-color: #cc4400;
}

  /* home product  */