<html>
    <head>
        <meta charset="utf-8">
        <title>Crafty Corner</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">
        <style >

          </style>
          <link rel="stylesheet" href="cssu/register.css">

    </head>
    <body>
        <div class="background">
            <div class="shape"></div>
            <div class="shape"></div>
        </div>
        <form>
            <h3>Login Here</h3>
    
            <label for="username">First name</label>
            <input type="text" placeholder="First name" id="username">
    
            <label for="password">Last name</label>
            <input type="password" placeholder="Last name" id="password">
    
            <label for="password">Email </label>
            <input type="password" placeholder="Email" id="password">

            <label for="password">Password</label>
            <input type="password" placeholder="Password" id="password">

            <label for="password">Confirm Password</label>
            <input type="password" placeholder="confirm Password" id="password">
            <button>Sign Up</button>
            <!-- <div class="social">
              <div class="go"><i class="fab fa-google"></i>  Google</div>
              <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
            </div> -->
            <!-- <div style="margin-top: 10%; display: flex;align-items: center; justify-content:stretch;">
                <h5>New to this? </h5>
                <h5><a href="https://www.google.com" style="color:rgb(137, 137, 241);">-Sign Up now</a></h5>
            </div> -->
        </form>
    </body>
</html>